
{{#section 'css'}}
    <link href="/stylesheets/auth/login.css" rel="stylesheet"/>
{{/section}}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4" style="min-width: 400px">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Change Password</h3></div>
                    <div class="card-body">
                        <form method="post">
                            <div class="form-floating mb-3 form-input-password-custom" id="inputCurrentPasswordParent">
                                <input class="form-control" id="inputCurrentPassword" type="password" name="currentPassword"/>
                                <label for="inputCurrentPassword">Current Password</label>
                                <span class="d-flex justify-content-end custom-show-hide-password"
                                      onclick="handleShowHidePassword('inputCurrentPassword')">
                                            <i class="fa fa-eye-slash custom-icon-show-hide-password"
                                               aria-hidden="true"></i>
                                        </span>
                            </div>
                            <div class="form-floating mb-3 form-input-password-custom" id="inputNewPasswordParent">
                                <input class="form-control" id="inputNewPassword" type="password" name="newPassword"/>
                                <label for="inputNewPassword">New Password</label>
                                <span class="d-flex justify-content-end custom-show-hide-password"
                                      onclick="handleShowHidePassword('inputNewPassword')">
                                            <i class="fa fa-eye-slash custom-icon-show-hide-password"
                                               aria-hidden="true"></i>
                                        </span>
                            </div>
                            <div class="form-floating mb-3 form-input-password-custom" id="inputConfirmPasswordParent">
                                <input class="form-control" id="inputConfirmPassword" type="password" name="confirmPassword"/>
                                <label for="inputConfirmPassword">Confirm Password</label>
                                <span class="d-flex justify-content-end custom-show-hide-password"
                                      onclick="handleShowHidePassword('inputConfirmPassword')">
                                            <i class="fa fa-eye-slash custom-icon-show-hide-password"
                                               aria-hidden="true"></i>
                                        </span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="small" href="/auth/forgot-password">Forgot Password?</a>
                                <input type="submit" onclick="handleChangePassword(event)" class="btn btn-primary" value="Continue">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{#section 'script'}}
    <script src="/js/auth/changePassword.js"></script>
{{/section}}
