{{#section 'css'}}
    <link href="/stylesheets/account/accountDetail.css" rel="stylesheet"/>
{{/section}}

<main>
    <div class="container px-4">
        <h3 class="mt-4" id="title-h3" style="margin-bottom: 25px">Account Detail</h3>
        <div id="avatar-modal" class="avatar-modal">

        </div>
        <div class="profile-custom">
            <div class="row">
                <div id="avatar-detail-account" class="figure-img-custom col-sm-6 col-xs-2">

                </div>

                <div class="acc-body-custom col-sm-6 col-xs-2" >
                    <table class="table-account-detail table table-hover" id="table-detail-account">

                    </table>

                    <div class="btn-detail-acc-custom" id="save-btn">

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{#section 'script'}}
    <script src="/js/account/accountDetail.js"></script>
{{/section}}
