{{#section 'css'}}
    <link href="/stylesheets/account/account.css" rel="stylesheet"/>
{{/section}}

<main>
    <div class="container-fluid px-4">

        <!--        modal-->
        <div id="modalConfirm" class="modal modal-show-custom">
            <div class="modal-sm modal-custom">
                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header modal-header-custom" data-modal="modalConfirm">
                        <h6>Confirm</h6>
                        <span class="close-modal" data-modal="modalConfirm">&times;</span>
                    </div>
                    <div class="modal-body" id="modal-body-status" data-modal="modalConfirm">

                    </div>
                    <div class="modal-footer modal-footer-custom">
                        <button id="continueStatusBtn" data-modal="modalConfirm">Continue</button>
                        <button class="cancelBtn" data-modal="modalConfirm">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalAddNew" class="modal modal-show-custom">
            <div class="modal-lg modal-custom">
                <div class="modal-content">
                    <div class="modal-header modal-header-custom" data-modal="modalAddNew">
                        <h6>Add New</h6>
                        <span class="close-modal" data-modal="modalAddNew">&times;</span>
                    </div>
                    <form id="form-add-new">
                        <div class="modal-body" id="modal-body-add-new" data-modal="modalAddNew">

                            <div class="row">
                                <div class="form-group-add-new col-md-4 col-sm-4">
                                    <div>
                                        <label for="inputFirstName">First Name</label>
                                        <span style="color: red">*</span>
                                    </div>
                                    <input type="text" class="form-control" id="inputFirstName" placeholder="Trần Ngọc"
                                           required>
                                </div>
                                <div class="form-group-add-new col-md-3 col-sm-3">
                                    <div>
                                        <label for="inputLastName">Last Name</label>
                                        <span style="color: red">*</span>
                                    </div>
                                    <input type="text" class="form-control" id="inputLastName" placeholder="Sang"
                                           required>
                                </div>
                                <div class="form-group-add-new col-md-5 col-sm-5">
                                    <div>
                                        <label for="inputEmail">Email</label>
                                        <span style="color: red">*</span>
                                    </div>
                                    <input type="email" class="form-control" id="inputEmail"
                                           placeholder="tranngocsang3003@gmail.com" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group-add-new col-md-4 col-sm-4">
                                    <label for="inputPhone">Phone Number</label>
                                    <input type="tel" class="form-control" id="inputPhone" placeholder="0344556677">
                                </div>
                                <div class="form-group-add-new col-md-3 col-sm-3">
                                    <label for="inputGender">Gender</label>
                                    <select id="inputGender" style="height: 38px; width: 100px;">
                                        <option value="Male" selected>Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                                <div class="form-group-add-new col-md-3 col-sm-3">
                                    <label for="inputRole">Role</label>
                                    <input type="text" class="form-control" id="inputRole" disabled>
                                </div>
                            </div>
                            <div class="form-group-add-new">
                                <label for="inputAddress">Address</label>
                                <input type="text" class="form-control" id="inputAddress"
                                       placeholder="Linh Trung, Thủ Đức, Hồ Chí Minh">
                            </div>
                        </div>
                        <div class="modal-footer modal-footer-custom">
                            <!--                            <button id="SubmitAddNewBtn" data-modal="modalAddNew">Submit</button>-->
                            <input type="submit" value="Submit" id="SubmitAddNewBtn"/>
                            <button class="cancelBtn" id="cancelBtnAddNew" data-modal="modalAddNew">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <h3 class="mt-4" id="title-h3">{{TypeName}} Management</h3>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active" id="title-li">List {{TypeName}}</li>
        </ol>
        <div class="table-account-custom">
            <div class="table-header-custom d-flex">
                <div class="me-auto p-2">
                    <div class="filter-btn-custom" onclick="handleHideShowFilter()">
                        <span class="label-filter-custom">Filter</span>
                        <i class="fas fa-filter" id="filter-icon"></i>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="custom-btn-account p-2" onclick="handleShowModalAddNew()">
                        <i class="fas fa-plus-circle" style="color: green"></i>
                        <span>Add New</span>
                    </div>
                    <div class="custom-btn-account p-2">
                        <i class="fas fa-file" style="color: #2e0559"></i>
                        <span>Export to Excel</span>
                    </div>
                </div>
            </div>

            <div class="table-filter-custom" id="filter" style="display: none">
                <div class="filter-table-dropdown filter-item-custom" title="Limit">
                    <select class="data-table-selector" id="limit" onchange="selectOnchange('limit')">
                        <option class="data-value-selector" value="5" selected> 5</option>
                        <option class="data-value-selector" value="10">10</option>
                        <option class="data-value-selector" value="20">20</option>
                        <option class="data-value-selector" value="50">50</option>
                    </select>
                </div>

                <div class="search-filter-account" title="Search">
                    <input class="dataTable-input search-filter filter-item-custom" placeholder="Search..."
                           type="text" id="search"/>
                </div>

                <div class="filter-table-dropdown filter-item-custom" title="Gender">
                    <label class="label-filter-custom" for="selectGender">Gender:</label>
                    <select class="data-table-selector" id="gender" onchange="selectOnchange('gender')">
                        <option class="data-value-selector" value="All" selected>All</option>
                        <option class="data-value-selector" value="Male">Male</option>
                        <option class="data-value-selector" value="Female">Female</option>
                    </select>
                </div>

                <div class="filter-table-dropdown filter-item-custom" title="Gender">
                    <label class="label-filter-custom" for="selectStatus">Status:</label>
                    <select class="data-table-selector" id="status" onchange="selectOnchange('status')">
                        <option class="data-value-selector" value="All" selected>All</option>
                        <option class="data-value-selector" value="active">active</option>
                        <option class="data-value-selector" value="locked">locked</option>
                    </select>
                </div>
                <div class="OK-btn-custom" onclick="handleFilter()">
                    <span class="label-filter-custom">OK</span>
                </div>
            </div>

            <table class="table-body-custom table table-hover" id="accountMangement">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="tbody-table-account-management">
                <!--Render View from API ajax-->
                </tbody>
            </table>

            <div class="clearfix-table-custom">
                <div class="hint-text-custom" id="hint-text-pagination"></div>
                <nav aria-label="Page navigation example" id="pagination" class="pagination-table-custom">
                    {{{createPagination pagination paginationClass="pagination"}}}
                </nav>

                <script type="text/x-handlebars-template" id="paginationTemplate">
                      \{{{createPagination pagination paginationClass="pagination"}}}
                </script>

            </div>
        </div>
    </div>
</main>

{{#section 'script'}}
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/js/account/account.js"></script>
    <script src="/js/pagination/paginationHelper.js"></script>
{{/section}}
