<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">


                {{#ifTwoCondCustom user.role "admin" "superadmin"}}
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                       data-bs-target="#collapseManagement" aria-expanded="false" aria-controls="collapseManagement">
                        <div class="sb-nav-link-icon"><i class="fas fa-user-circle"></i></div>
                        Account
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseManagement" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/account?role=staff">Staff</a>
                            {{#ifCond user.role '==' "superadmin"}}
                                <a class="nav-link" href="/account?role=admin">Admin</a>
                            {{/ifCond}}
                        </nav>
                    </div>
                {{/ifTwoCondCustom}}

                <a class="nav-link" href="/customer">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Customer
                </a>
                {{#ifTwoCondCustom user.role "admin" "superadmin"}}
                    <a class="nav-link" href="/regulation">
                        <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                        Regulation
                    </a>
                {{/ifTwoCondCustom}}
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>


                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSale"
                   aria-expanded="false" aria-controls="collapseSale">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Bán sách
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>

                
                <div class="collapse" id="collapseSale" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/sale">Danh sách</a>
                    </nav>
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/sale/add">Thêm</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseImport"
                   aria-expanded="false" aria-controls="collapseImport">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Nhập sách
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>

                
                <div class="collapse" id="collapseImport" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/import">Danh sách</a>
                    </nav>
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/import/add">Thêm</a>
                    </nav>
                </div>


                <a class="nav-link" href="/bill">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Phiếu thu tiền
                </a>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseStatistics"
                   aria-expanded="false" aria-controls="collapseStatistics">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Thống kê
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseStatistics" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        {{!-- <a class="nav-link" href="/statistics/day">Theo ngày</a> --}}
                        <a class="nav-link" href="/statistics/month">Theo tháng</a>
                        {{!-- <a class="nav-link" href="/statistics/year">Theo năm</a> --}}
                    </nav>
                </div>
                <!--
                <div class="sb-sidenav-menu-heading">Interface</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                   aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Pages
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                            Authentication
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                             data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/auth/login">Login</a>
                                <a class="nav-link" href="/auth/register">Register</a>
                                <a class="nav-link" href="/auth/forgot-password">Forgot Password</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#pagesCollapseError" aria-expanded="false"
                           aria-controls="pagesCollapseError">
                            Error
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                             data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/error/401">401 Page</a>
                                <a class="nav-link" href="/error/404">404 Page</a>
                                <a class="nav-link" href="/error/500">500 Page</a>
                            </nav>
                        </div>
                    </nav>
                </div>
                -->
                <div class="sb-sidenav-menu-heading">Addons</div>
                <a class="nav-link" href="/chart">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Chart
                </a>

                <a class="nav-link collapsed" href="/table" data-bs-toggle="collapse" data-bs-target="#collapseTable"
                   aria-expanded="false" aria-controls="collapseTable">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Table
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseTable" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/table/user">User</a>
                        <a class="nav-link" href="/table/book">Book</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            {{#if user}}
                {{user.last_name}} ({{user.role}})
            {{/if}}
        </div>
    </nav>
</div>
