.import-container{
    background-color: #F7F7F7;
    padding: 24px;
}



.filter{
    padding: 24px;
}

.content{
    padding: 24px;
    background-color: #ffffff;
    border: 1px solid #E6E9ED;
}

.custom-btn{
    padding: 4px 12px;
}

.custom-btn-icon{
    font-size: 14px;
}


.select-modal-content{
    width: fit-content;
}