
/*header*/
.img-avatar-header {
    border-radius: 100%;
    width: 38px;
    height: 38px;
    object-fit: cover;
}


/*login*/
.form-input-password-custom {
    display: flex;
}

.form-input-password-custom .custom-show-hide-password {
    align-items: center;
    cursor: pointer;
}

.form-input-password-custom .custom-show-hide-password .custom-icon-show-hide-password {
    position: absolute;
    padding-right: 8px;
}
