                {{#ifTwoCondCustom user.role "admin" "superadmin"}}
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                       data-bs-target="#collapseManagement" aria-expanded="false" aria-controls="collapseManagement">
                        <div class="sb-nav-link-icon"><i class="fas fa-user-circle"></i></div>
                        Account
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseManagement" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/account?role=staff">Staff</a>
                            {{#ifCond user.role '==' "superadmin"}}
                                <a class="nav-link" href="/account?role=admin">Admin</a>
                            {{/ifCond}}
                        </nav>
                    </div>
                {{/ifTwoCondCustom}}

                <a class="nav-link" href="/customer">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Customer
                </a>
                {{#ifTwoCondCustom user.role "admin" "superadmin"}}
                    <a class="nav-link" href="/regulation">
                        <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                        Regulation
                    </a>
                {{/ifTwoCondCustom}}

                <a class="nav-link collapsed" href="/table" data-bs-toggle="collapse" data-bs-target="#collapseTable"
                   aria-expanded="false" aria-controls="collapseTable">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Table
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseTable" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
<!--                        <a class="nav-link" href="/table/user">User</a>-->
                        <a class="nav-link" href="/table/book">Book</a>
                    </nav>
                </div>