.sale-form{
    
}



.sale-form-top,
.sale-form-bottom{
    margin-bottom: 20px;
    padding: 24px 12px;
    background-color: #ffffff;
    border: 1px solid #E6E9ED;
}


.sale-book-img{
    width: 50px;
}

